@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


* {
    padding: 0;
    margin: 0;
}


header {
    background-image: linear-gradient(to top, #3C3176, #51429d, #5848ab);
    text-align: center;
    color: white;
    padding: 30px;
    align-items: center;
}

header > p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

nav {
    background-color: #3C3176;
    font-weight: bold;
    border: 10px;
    padding: 10px;

}


nav > a:hover {
    background-color: #614db9;
    color: rgba(32, 31, 31, 0.71);
    transition-duration: .6s;
    border-radius: 5px;
}


nav > a {
    padding: 10px;
}


main {
    margin: auto;
    min-width: 280px;
    max-width: 800px;
}


main img {
    display: block;
    margin: auto;
}


main img.pequena {
    width: 80%;
}

article {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


h1 {
    font-family: 'Roboto Mono', monospace;
}


h2 {
    text-align: center;
    font-size: x-large;
}


p {
    padding: 10px;
}


a {
    text-decoration: none;
    color: white;
}


body {
    background-color: #3557898e;
}


footer {
    background-color: #3C3176;
    color: white;
    text-align: center;
}

footer a:hover {
    background-color: #614db9;
    transition-duration: .6s;
}